<html>

  <head>
    <title>XDSSPARK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body
    style="width:800px; margin:50px auto;font-family: Arial, Helvetica, sans-serif;"
  >
    <table
      style="border:1px solid #dddddd;width:100%;border-collapse: collapse;"
    >
      <tr><td
         style="text-align:center;background-image: url('{{websiteMailBgUrl}}'); background-size: cover;background-position: center;padding:10px"
        >
        <img src="{{websiteLogoUrl}}" alt="XDS-SPARK" width="150" />
        </td></tr>
      <tr>
        <td style="padding:0 20px">
          <p style="padding-top:10px">Hi {{firstName}},</p>
          <p>Welcome to XDS Spark! We are thrilled to provide you with login credentials that give access to your <b>complimentary</b>, Foundational membership.</p>
          <p>Click <a href="{{webSiteLoginUrl}}"><u>HERE</u></a> to access the log-in page. Your email is {{email}}, and your password is {{password}}</p>
          <p>As a Foundational member, you receive <b>full and unfettered access</b> to all features and functionality inside of Spark, including one (1) user account for yourself.</p>
          <p>Once you are logged in, here are a few tips to help you get started!</p>
          <ul>
            <li style="padding-bottom: 10px;"><b>Search for and View Basic Service Provider Profiles -</b> View rich Service Provider profiles including portfolios, project highlights, certification and due diligence info, events, and contacts.</li>
            <li style="padding-bottom: 10px;"><b>Compare Service Providers -</b> Use the Compare feature to do side-by-side comparisons of multiple Service Providers in order to quickly view strengths and weaknesses.</li>
            <li style="padding-bottom: 10px;"><b>Partner Relationship Management -</b> In a Service Provider profile, go to the <b>My Spark</b> tab to manage personalized information that <u>only you can see</u>.</li>
              <ul>
                <li style="padding-bottom: 10px;" type="circle"><b>Partner Status -</b> indicating the service provider’s ability to work with your company</li>
                <li style="padding-bottom: 10px;" type="circle"><b>Rates -</b> track day and monthly rates by service with notes, and post a rate card</li>
                <li style="padding-bottom: 10px;" type="circle"><b>Performance -</b> track project performance by quality, on-time delivery and communication</li>
                <li style="padding-bottom: 10px;" type="circle"><b>Notes -</b> Post notes from meetings, or other important information on your partners</li>
              </ul>
            <li style="padding-bottom: 10px;"><b>Post Opportunities -</b> Use Post Opportunities to share an upcoming project in order to discover new Service Provider candidates. Your post can be <b>anonymous</b>, and will only be published to Service Providers whose skills match that of your needs.</li>
            <li style="padding-bottom: 10px;"><b>Compare Service Providers -</b> Use the Compare feature to place up to 10 Service Providers side-by-side in order to evaluate strengths and gaps.</li>
            <li style="padding-bottom: 10px;"><b>Follow Profiles -</b> Find a new Service Provider you find interesting? Hit the Follow button on their profile to receive weekly notifications when they update their profile.</li>
            <li style="padding-bottom: 10px;"><b>My Lists -</b> Build shareable lists of Service Providers any way you want, and track and maintain these over time. Copy a link to share lists with anyone in your organization, without the need for them to log in.</li>
            <li style="padding-bottom: 10px;"><b>My Projects -</b> Create projects and add lists of candidate Service Providers. Share projects with your teams to determine partners that are the best fit for engagements.</li>
            <li style="padding-bottom: 10px;"><b>Events -</b> Interested in seeing which Service Providers will be at your next event? Use the Events filter to show a listing of partners you may want to meet with on site.</li>
          </ul>
          <p>
            Do you need more accounts to provide to team members? Consider upgrading to the <b>Premium tier</b>, which provides you with <b>four (4) additional licenses</b> to assign to your colleagues.
          </p>
          <p>For more info on Premium and Enterprise tiers, check out our website at <a href="{{websiteUrl}}"><u>xds-spark.com</u></a>.</p>
          <p>We ask that you please not share your login credentials outside of your organization.</p>

          <p>Cheers,</p>
          <p>Your friends at XDS Spark</p>
        </td>
      </tr>
      {{!-- <tr>
        <td style="padding:0 20px">
          <p style="padding-top:10px">Hi {{firstName}},</p>
          <p>Welcome to XDS Spark! We are thrilled to provide you with login credentials that give access to your <b>complimentary</b>, Foundational membership.</p>
          <p>Click <a href="{{webSiteLoginUrl}}"><u>HERE</u></a> to access the log-in page. Your email is {{email}}, and your password is {{password}}</p>
          <p>Once you are logged in, here are a few tips to help you get started.</p>
          <ul>
            <li style="padding-bottom: 10px;"><b>View Basic Service Provider Profiles -</b> From the Home Page, click on our Founding Partners to view examples of profiles.</li>
            <li style="padding-bottom: 10px;"><b>Search & Filter -</b> Go to the Browse Service Providers section to search and filter on all partners.</li>
          </ul>

          <p><b>Interested in unlocking the next level?</b> Upgrading to a Premium account provides you with rich functionality to access the following features:</p>
          <ul>
            <li style="padding-bottom: 10px;"><b>View Full Service Provider Profiles -</b> Check out rich profiles that include portfolios, project highlights, testimonials, certifications and due diligence info, locations, contacts and more.</li>
            <li style="padding-bottom: 10px;"><b>Partner Relationship Management -</b> Using the My Spark tab, manage personalized information that is important to your company including partner status, rates, performance reviews and notes. <u>Only you can see this info</u>.</li>
            <li style="padding-bottom: 10px;"><b>Post Opportunities -</b> In My Opportunities, post project opportunities that you would like Service Providers to express interest in. Find new candidate partners this way!</li>
            <li style="padding-bottom: 10px;"><b>My Lists -</b> Build shareable lists of Service Providers any way you want, and track and maintain these over time.</li>
            <li style="padding-bottom: 10px;"><b>My Projects -</b> Create projects and add lists of candidate Service Providers. Share projects with your teams to evaluate those that are the best fit for engagements.</li>
          </ul>
          <p><b>To upgrade to Premium</b>, select Subscription Details in the main menu, and go from there!</p>
          <p>For more info on Premium features and pricing, check out our website at <a href="{{websiteUrl}}"><u>xds-spark.com</u></a>.</p>
          <p>We ask that you please not share your login credentials outside of your organization.</p>

          <p>Cheers,</p>
          <p>Your friends at XDS Spark</p>
        </td>
      </tr> --}}
    </table>
  </body>

</html>