<html>

  <head>
    <title>XDSSPARK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body
    style="width:800px; margin:50px auto;font-family: Arial, Helvetica, sans-serif;"
  >
    <table
      style="border:1px solid #dddddd;width:100%;border-collapse: collapse;"
    >
      <tr><td
         style="text-align:center;background-image: url('{{websiteMailBgUrl}}'); background-size: cover;background-position: center;padding:10px"
        >
        <img src="{{websiteLogoUrl}}" alt="XDS-SPARK" width="150" />
        </td></tr>
      <tr>
        <td style="padding:0 20px">
          <p style="padding-top:10px">Hi {{firstName}},</p>
          <p>Welcome to XDS Spark! We are thrilled to provide you with login credentials that give access to your <b>complimentary</b>, Foundational membership.</p>
          <p>Click <a href="{{webSiteLoginUrl}}"><u>HERE</u></a> to access the log-in page. Your email is {{email}}, and your password is {{password}}</p>
          <p>We have pre-populated your profile with very basic company information. As a Foundational member, you can edit and update this info to suit your needs. Here’s how.</p>
          <ol>
            <li>From the Home Page, go to Edit Company Profile</li>
            <li>Under General Info, update your Company Name, website, size and logo.</li>
            <li>Under About, update your company description.</li>
          </ol>
          <p>
            <b>Please don’t wait!</b> Buyers will have the ability to discover your company and view profile information.
          </p>
          <p>
            <b>Interested in unlocking the next level?</b> Premium membership provides you with rich functionality to complete your full company profile, which greatly enhances your company presence to buyers. Also discover project opportunities, manage lists, and seek out other Service Providers to partner with.
          </p>
          <p>
            <b>To upgrade to Premium</b>, select Subscription Details, and go from there!
          </p>
          <p>For more info on Premium features and pricing, check out our website at <a href="{{websiteUrl}}"><u>xds-spark.com</u></a>.</p>
          <p>If you prefer to not be part of the XDS Spark platform, send an email to <a href="mailto:info@xds-spark.com"><u>info@xds-spark.com</u></a> and we will remove your company profile from the site.</p>
          <p>We ask that you please not share your login credentials outside of your organization.</p>
          <p>Cheers,</p>
          <p>Your friends at XDS Spark</p>
        </td>
      </tr>
    </table>
  </body>

</html>