<html>

  <head>
    <title>XDSSPARK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body
    style="width:800px; margin:50px auto;font-family: Arial, Helvetica, sans-serif;"
  >
    <table
      style="border:1px solid #dddddd;width:100%;border-collapse: collapse;"
    >
      <tr><td
         style="text-align:center;background-image: url('{{websiteMailBgUrl}}'); background-size: cover;background-position: center;padding:10px"
        >
        <img src="{{websiteLogoUrl}}" alt="XDS-SPARK" width="150" />
        </td></tr>
      <tr>
        <td style="padding:0 20px">
          <p style="padding-top:10px">Greetings  {{firstName}},</p>
          <p>Welcome to XDS Spark! We are thrilled to provide you with login credentials that give access to your <b>1-year complimentary Premium membership</b> in this new and exciting platform, that includes four (4) user licenses you can assign to your colleagues.</p>
          <p>Click <a href="{{webSiteLoginUrl}}"><u>HERE</u></a> to access the log-in page. Your email is {{email}}, and your password is {{password}}</p>
          <p>Once you are logged in, here are a few tips to help you get started.</p>
          <ul>
            <li style="padding-bottom: 10px;"><b>View Full Service Provider Profiles -</b> View complete Service Provider profiles including portfolios, project highlights, certification and due diligence info, and contact partners as needed.</li>
            <li style="padding-bottom: 10px;"><b>Partner Relationship Management -</b> Inside a Service Provider profile, go to the <b>My Spark</b> tab to manage personalized information that <u>only you can see</u>.</li>
              <ul>
                <li style="padding-bottom: 10px;" type="circle"><b>Partner Status -</b> indicating the service provider’s ability to work with your company</li>
                <li style="padding-bottom: 10px;" type="circle"><b>Rates -</b> track day and monthly rates by service with notes, and post a rate card</li>
                <li style="padding-bottom: 10px;" type="circle"><b>Performance -</b> track project performance by quality, on-time delivery and communication</li>
                <li style="padding-bottom: 10px;" type="circle"><b>Notes -</b> Post notes from meetings, or other important information on your partners</li>
              </ul>
            <li style="padding-bottom: 10px;"><b>Company Administration -</b> As a Premium member, you can assign up to four (4) user licenses to colleagues in your organization, and manage these accounts. Go to “Company Admin” in the navigation menu to get started!</li>
            <li style="padding-bottom: 10px;"><b>Post Opportunities -</b> Use Post Opportunities to share an upcoming project in order to discover new Service Provider candidates. Your post can be <b>anonymous</b>, and will only be published to Service Providers whose skills match that of your needs.</li>
            <li style="padding-bottom: 10px;"><b>Compare Service Providers</b> - Use the Compare feature to place up to 10 Service Providers side-by-side in order to evaluate strengths and gaps.</li>
            <li style="padding-bottom: 10px;"><b>Follow Profiles</b> - Find a new Service Provider you find interesting? Hit the Follow button on their profile to receive weekly notifications when they update their Portfolio, Project Highlights and Due Diligence information.</li>
            <li style="padding-bottom: 10px;"><b>My Lists -</b> Build shareable lists of Service Providers any way you want, and track and maintain these over time.</li>
            <li style="padding-bottom: 10px;"><b>My Projects -</b> Create projects and add lists of candidate Service Providers. Share projects with your teams to determine partners that are the best fit for engagements.</li>
            <li><b>Events</b> - Interested in seeing which Service Providers will be at your next event? Use the Events filter to show a listing of partners you may want to meet with on site.</li>
          </ul>
          <p>
            <b>Do you like what you see?</b> Make sure to upgrade to become a <b>Premium member</b> before the end of your 1-year complimentary Premium membership. Look for the <b>Upgrade</b> button throughout the site.
          </p>
          <p>
            Need more info on features and pricing? Check out our website at <a href="{{websiteUrl}}"><u>xds-spark.com</u></a>.
          </p>
          <p>
            Enjoy your trial period!
          </p>
          <div>Chris Wren & Sam Carlisle<br/>
         Co-Founders, XDS Spark</div>
        </td>
      </tr>
    </table>
  </body>

</html>